h2{
    font-size: 20px;
    align-content: center;
    margin: 12px 0;

}

.bienvenidos {
    width: 100%;
    padding-right: 10px;
    box-sizing: border-box;
    align-content: center;
}

.testimonios {
    width: 100%;
}
.testimonios {
    font-size: 20px;
    padding: 16px;
    text-align: center;
    margin: 12px 0;


}

.testimonio .cita {
    font-style: italic;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 12px 0;
}

.testimonio .autor {
    font-size: 10px;
    text-align: center;
    display: block;
    margin: 12px 0;
}