
h2 {
    color: black;
    text-align: left;
    font-size: 100px;
}
h3 {
    color: #006593;
}

.novedades h3 {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 26px;
    margin: 16px 0;
    display: flex;
    gap: 32px;

}
.novedades p {
align-content:flex-start;
text-align: left;


}
.novedades img {
    border-radius: 13px;
    display:flex;
    max-width: 140px;
    /*max-height: 120px;*/
    align-content:flex-end;
    float: left;
    margin-right: 15px;
}
.novedades:nth-child(even) { /* Even es "par" */
    flex-direction:row;
}